*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: hsl(36, 100%, 99%);
}

.main-container{
    width: 80%;
    height: 550px;
    margin: 60px auto;
    background: hsl(217, 54%, 11%);
    display: flex;

}
.cards-content{
    width: 230px;
    height: 400px;
    margin:auto;
    padding: 15px;
    background: hsl(216, 50%, 16%);
    border-radius: 4%;
}
.cards-img{
   display: flex;
   align-items: center;
   justify-content: center;
}

.cards-img img{
    width: 230px;
    height: 200px;
    margin-top: 10px;
}
h4{
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
}
p{
    margin-bottom: 15px;
    color: hsl(215, 51%, 70%);
    font-size: 12px;
    font-weight: 400;
}

.list ul{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

ul li{
    list-style: none;
    color: hsl(0, 0%, 100%);
    font-size: 13px;
    /*align-items: center;*/
}

ul li.icon-ethereum{
    text-align: center;
}



.icon-ethereum::before{
    content: url(/images/icon-ethereum.svg);
    margin-right: 5px;
}

.icon-ethereum{
    color: hsl(178, 100%, 50%);
}

.icon-clock::before{
    content: url(/images/icon-clock.svg);
    margin-right: 5px;
    
}

.icon-clock{
    color: hsl(215, 51%, 70%);
}
hr{
    color: hsl(215, 32%, 27%);
}

.avatar{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
/*.avatar div{
    width: 60px;
}*/

.avatar img{
    width: 30px;
    margin-right: 10px;
    
}

.avatar p{
    font-size: 10px;
    margin: 5px 0;
}

.avatar p span{
    font-family: 'Padauk', sans-serif;
    font-weight: lighter;
    color:hsl(0, 0%, 100%);
}



.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }